html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.momo-trust-display-regular {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vend-sans{
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container1 {
    width: 100%;
    height: 100vh;
    background-color: pink;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    transition: height 1.5s ease, background-color 1.5s ease;
}

.container3 {
    width: 100%;
    height: 100vh;
    background-color: pink;

    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    gap: 80px;

    transition: height 1.5s ease, background-color 1.5s ease;
}

.container1 *,
.container3 * {
    transition: opacity 1.5s ease;
}

.fade-out * {
    opacity: 0;
}

.globaldivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 50%
}

.container2 {
    width: 100%;
    height: 100vh;
    background-color: pink;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    transition: background-color 1.5s ease;
}

#titletext {
    width: 100%;
    text-align: center;
}

#credit {
    width: 100%;
    text-align: center;

    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;

    margin-top: 2rem;
}

#text1 {
    width: 100%;
    text-align: center;

    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.listoficons {
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 40px;
}

.listoficons button {
    background: none;
    border: none;

    width: 100px;
    height: 100px;
}

.listoficons img {
    width: 100px;
    height: 100px;
}

.aboutmediv, .projectsdiv, .hobbydiv {
    transition: height 1.5s ease, opacity 1.5s ease;
    height: 0;
    opacity: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#funny {
    border: 0;
    background: none;
    opacity: 0;

    transition: opacity 1.5s ease;
}

#funny img {
    height: 2.5rem;
    width: 2.5rem;
}

.clickcookie {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#moosic {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 13px;
}

#start {
    border: 0;
    background: none;

    transition: height 1.5s ease, opacity 1.5s ease;
}

#arrowdown {
    position: absolute;
    bottom: 40px;

    background: none;
    border: none;
    height: 40px;
    width: 40px;
}

#arrowdown img {
    height: 40px;
    width: 40px;
}

#arrowup {
    position: absolute;
    top: 40px;

    background: none;
    border: none;
    height: 40px;
    width: 40px;
}

#arrowup img {
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
}

.lists {
    display: flex;
    flex-direction: row;
    gap: 40px;
}